{% if site.enableTags ==  true %} 
	<div id="tag-filter" class="col-md-12 col-xs-12 tag-group">
		<span class="label tag-filter tag-cloud all">Reset</span>
        {% assign writingarray = site.writingarray %}
        {% for project in site.data.projects %}
            {% for tag in project.tags %}
                {% assign writingarray = writingarray | push: tag %}
            {% endfor %}
        {% endfor %}

        {% assign tags = writingarray[1] %}
        {% for item in writingarray %}
            {% assign tagDown = item | downcase %}
            {% assign tagComp = tags | downcase %}
            {% unless tagComp contains tagDown %}
                {% capture tags %}{{ tags }}|{{ item }}{% endcapture %}
            {% endunless %}
        {% endfor %}

        {% assign taglist = tags | split: '|' | sort %}
        {% for tag in taglist %}
            <span class="label tag-filter tag-cloud" data-tag="{{ tag | downcase }}">{{ tag }}</span>
        {% endfor %}
	</div>
{% endif %}
